

.formControl.error input,
.formControl.error textarea
{
    border: solid red 2px ;
}

.formControl.error span
{
    color: red;
}

.formSummaryError{
    background-color: rgba(230, 40, 40, 0.842);
    text-align: center;
    border: black 1px solid;
    border-radius: 8px;
    padding: 5px;
    color: white;
    width: 200px;
}